* {
box-sizing: border-box;
margin: 0;
  padding: 0;
}


/** VARIABLES **/
:root {
  --font-size-s: 1.4rem;
  --font-size-m: 1.6rem;
  --font-size-h3: 2.5rem;
  --font-size-h2: 3rem;
  --font-size-h1: 4rem;
  --padding-container: 10rem 0;
  --color-title: #001a49;
}
/* -- END -- */


/* ======================================================================================
                                        GLOBAL
====================================================================================== */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size-m);
  line-height: 1.7;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
/* ------------------------------------ GLOBAL END ----------------------------------- */





/* ======================================================================================
                                        UTILITIES
====================================================================================== */
.limited-container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}
/* ---------------------------------- UTILITIES END ---------------------------------- */





/* ======================================================================================
                                          HEADER
====================================================================================== */
.hero {
  width: 100vw;
  height: 100vh;
  min-height: 60rem;
  /* max-height: 80rem; */
  position: relative;
  display: grid;
  grid-template-rows: 10rem 1fr;
  color: #fff;
}

.hero a {
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../assets/img/computer.jpg');
  background-size: cover;
  clip-path: polygon(100% 0, 100% 80%, 50% 95%, 0 80%, 0 0);
  z-index: -1;
}

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 3.2rem;
}

.nav__close{
  display: var(--show, none);
}

.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav__img {
  display: block;
  width: 3rem;
}

.hero__container {
  --padding-container: 0;
  max-width: 80rem;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1.6rem;
  padding-bottom: 10rem;
  text-align: center;
}

.hero__paragraph {
  margin-bottom: 2rem;
}

.cta {
  background-color: #2091f9;
  justify-self: center;
  padding: 1.3rem 3rem;
  border-radius: 3rem;
}
/* ------------------------------------ HEADER END ----------------------------------- */





/* ======================================================================================
                                          MAIN
====================================================================================== */

/* about */
.about {
  text-align: center;
}

.subtitle {
  color: var(--color-title);
  margin-bottom: 2.5rem;
}

.about__main {
  padding-top: 8rem;
  display: grid;
  width: 90%;
  margin: 0 auto;
  gap: 5rem;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(26rem, auto));
}

.about__icons {
  display: grid;
  gap: 1.6rem;
  justify-content: center;
  width: 260px;
  overflow: hidden;
  margin: 0 auto;
}

.about__icon {
  margin: 0 auto;
  width: 4rem;
}


/* knowledge */
.knowledge {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.08rem);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
  overflow: hidden;
}

.knowledge__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  align-items: center;
}

.knowledge__paragraph {
  margin: 2rem 0;
}

.knowledge__picture {
  max-width: 50rem;
}


/* price */
.price {
  text-align: center;
}

.price__table {
  padding-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-evenly;
  align-items: center;
}

.price__element {
  background-color: #e5e5f7;
  text-align: center;
  border-radius: 1rem;
  width: 33rem;
  padding: 4rem;
  --color-plan: #696871;
  --color-price: #1d293f;
  --bg-cta: #fff;
  --color-cta: #5454d4;
  --color-item: #696871;
}

.price__name {
  color: var(--color-plan);
  margin-bottom: 1.5rem;
}

.plan__price {
  font-size: 4rem;
  color: var(--color-price)
}

.price__items {
  margin-top: 3.5rem;
  display: grid;
  gap: 1.6rem;
  margin-bottom: 5rem;
  font-size: var(--font-size-s);
  color:var(--color-item);
}

.price__cta {
  padding: 1rem 2rem;
  background-color: var(--bg-cta);
  color: var(--color-cta);
  border-radius: 1rem;
  font-weight: 700;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, .5);
}

.price__element--best {
  width: 37rem;
  padding: 6rem 4rem;
  background-color: #ff7143;
  --color-plan: rgba(255 255 255 / 75%);
  --color-price: #fff;
  --bg-cta: #9f3919;
  --color-cta: #fff;
  --color-item: #fff;
}


/* testimony */
.testimony {
  background-color: #e5e5f7;
}

.testimony__container {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  gap: 1.6rem;
  align-items: center;
}

.testimony__body {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  opacity: 0;
  pointer-events: none;
}

.testimony__body--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 1.5s ease-in-out;
}

.testimony__texts {
  max-width: 70rem;
}

.testimony__course {
  background-color: royalblue;
  color:#fff;
  display: inline-block;
  padding: 0.5rem;
}

.testimony__img {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__arrow {
  width: 90%;
  cursor: pointer;
}


/* questions */
.questions {
  text-align: center;
}

.questions__container {
  display: grid;
  gap: 3.2rem;
  padding: 5rem 0 10rem 0;
}

.questions__padding {
  padding: 0;
  transition: padding 0.5s;
  border: 0.1rem solid #5454d4;
  border-radius: 0.6rem;
}

.questions__padding--add {
  padding-bottom: 3rem;
}

.questions__answer {
  padding: 0 3rem ;
  overflow: hidden;
}

.questions__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 3rem 0;
  font-size: 2rem;
  color: var(--color-title);
}

.questions__arrow {
  border-radius: 50%;
  background-color: var(--color-title);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  transition: transform .5s;
}

.questions__arrow--rotate {
  transform: rotate(180deg);
}

.questions__show {
  text-align: justify;
  height: 0;
  transition: height 0.5s;
}

.questions__copy {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 3rem;
}
/* -------------------------------------- MAIN END ------------------------------------ */





/* ======================================================================================
                                          FOOTER
====================================================================================== */
.footer {
  background-color: #1d293f;
}

.footer__title {
  margin-bottom: 3rem;
}

.footer__title,
.footer__newsletter,
.footer a,
.footer__copyright {
  color: #fff;
}

.footer__container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid #fff;
  padding-bottom: 6rem;
}

.nav--footer {
  padding-bottom: 2rem;
  display: grid;
  gap: 1.6rem;
  grid-auto-flow: row;
  height: 100%;
}

.nav__link--footer {
  display: flex;
  margin: 0;
  margin-right: 2rem;
  flex-wrap: wrap;
}

.footer__inputs {
  margin-top: 1rem;
  display: flex;
  overflow: hidden;
}

.footer__input {
  background-color: #fff;
  height: 5rem;
  display: block;
  padding-left: 1rem;
  border-radius: 0.6rem;
  font-size: var(--font-size-m);
  outline: none;
  border: none;
  margin-right: 1.6rem;
}

.footer__submit {
  margin-left: auto;
  display: inline-block;
  height: 5rem;
  padding: 0 2rem;
  background-color: #2091f9;
  border: none;
  color: #fff;
  border-radius: 0.6rem;
}

.footer__copy {
  --padding-container: 3rem 0;
  text-align: center;
}

.footer__icons {
  margin-bottom: 1rem;
}

.footer__img {
  width: 3rem;
}
/* ------------------------------------ FOOTER END ----------------------------------- */





/* ======================================================================================
                                      MEDIA QUERIES
====================================================================================== */
@media (max-width: 50rem) {
  /* header */
  .nav__menu {
    display: block;
  }

  .nav__link--menu {
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity .7s;
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close {
    position: absolute;
    width: 3rem;
    top: 3.5rem;
    right: 3.5rem;
    cursor: pointer;
  }



  /* main */
  /* --------- about ------------*/
  .about__main {
    gap: 4rem;
  }

  .about__icons:last-of-type {
    grid-column: 1 / -1;
  }
  /* ------- about end ----------*/



  /* -------- knowledge ---------*/
  .knowledge__container {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 5rem;
    text-align: center;
  }

  .knowledge__picture {
    grid-row: 1 / 2;
    justify-self: center;
  }
  /* ------ knowledge end -------*/



  /* -------- testimony --------*/
  .testimony__container {
    grid-template-columns: 3rem 1fr 3rem;
  }

  .testimony__body {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    gap: 5rem;
    justify-items: center;
  }

  .testimony__picture {
    grid-row: 1 / 2;
  }

  .testimony__img {
    width: 20rem;
    height: 20rem;
  }
  /* ------ testimony end ------*/



  /* -------- questions --------*/
  .questions__copy {
    width: 100%;
  }
  /* ------ questions end ------*/



  /* footer */
  .footer__container {
    flex-wrap: wrap;
  }

  .nav--footer {
    width: 100%;
    justify-items: center;
  }

  .nav__link--footer {
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
  }

  .footer__form {
    width: 100%;
    justify-content: space-evenly;
    margin-top: 5rem;
  }

  .footer__inputs {
    height: 20rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__input {
    margin: 0;
    flex: 1;
  }

  .footer__submit {
    margin: 0;
    flex: 1;
  }

}

@media (max-width: 40rem) {
  .nav__close {
    width: 3rem;
    top: 3.5rem;
    right: 1.6rem;
  }

  .questions__answer {
    padding: 0 0.8rem;
  }

  .questions__title {
    text-align: left;
  }

  .questions__arrow {
    margin-right: 0.8rem;
    max-width: 2rem;
    height: 2rem;
  }
}
/* -------------------------------- MEDIA QUERIES END -------------------------------- */